<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Alfa - Customers</title>
</head>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<body>
<div class="container">
    <div th:switch="${customers}">
        <h2 th:case="null">No Customers yet!</h2>
        <div th:case="*">
            <h3>Guest Book</h3>
            <br>
            <p><a th:href="@{/customers/sign-up}">Add a new customer</a></p>
            <br>
            <table class="table table-hover" id="customerTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.email}"></td>
                    <td><a th:href="@{/customers/{id}(id=${customer.id})}">Edit</a></td>
                    <td><a th:href="@{/customers/delete/{id}(id=${customer.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>